<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Things Dan has Learned{% endblock %}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/style.css" type="text/css">
        <link rel="stylesheet" href="/static/codehilite.css" type="text/css">
    </head>
    <body>
        {% block header %}{% endblock %}
        {% block body %}{% endblock %}
        <footer>
            <ul class="horizontal-list">
                <li><a href="https://github.com/danbjorn/til">GitHub</a></li>
                <li><a href="https://twitter.com/danbjorn">Twitter</a></li>
                <li><a href="https://www.linkedin.com/in/danbjorn/">LinkedIn</a></li>
            </ul>
        </footer>
    </body>
</html>
